<!-- Generated template for the StartComponent component -->
<ion-content class="password" >

  <div class="password-fixed" ion-fixed padding>
    <div class="backbtn-wrapper"  (click)="goBack()">
      <svg id="backbtn" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60.21 63.95">
        <title>backbtn-icon</title>
        <line class="a" x1="5" y1="31.97" x2="55.21" y2="31.97" style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:10px"/>
        <line class="a" x1="31.71" y1="5" x2="5" y2="31.97" style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:10px"/>
        <line class="a" x1="31.71" y1="58.95" x2="5" y2="31.97" style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:10px"/>
      </svg>
    </div>


    <svg class="logo" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 141.3 164.5">
      <style>.a{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:6px;stroke:#000;}</style>
      <title>  sketch_3</title>
      <path d="M138.3 127.7H94.2C60.7 127.7 36.7 97.7 36.7 63.8s23.7-60.8 50.8-60.8h50.8L104.6 36.7H53.8c-27.1 0-50.8 26.9-50.8 60.8s24 63.9 57.4 63.9h44.1Z" class="a"/>
      <polygon points="104.6 161.5 138.3 127.7 138.3 3 104.6 36.8 104.6 161.5" class="a"/>
    </svg>

    <h1 class="title">Curio</h1>

    <div class="password-reset">

      <p class="info">
        Geef hieronder uw e-mailadres. Een link zal naar uw inbox verzonden worden om uw wachtwoord te resetten.
      </p>

      <form #signForm="ngForm" (ngSubmit)="reset(signForm.value)" [formGroup]="formOne">
        <ion-item>
          <ion-input formControlName="email" placeholder="E-mail" type="text" name="email" ngModel clearInput></ion-input>
        </ion-item>
        <ion-item class="errorMessage" *ngIf="!formOne.controls.email.valid && formOne.controls.email.dirty && formOne.controls.email.touched">
          <p class="errorMessage" *ngIf="!formOne.controls.email.valid  && formOne.controls.email.errors.email && formOne.controls.email.dirty">Geen geldig e-mailadres</p>
          <p class="errorMessage" *ngIf="!formOne.controls.email.valid  && formOne.controls.email.errors.maxlength && formOne.controls.email.dirty">Uw e-mailadres is te lang</p>
        </ion-item>

        <div>
          <button block type="submit link" [disabled]="!formOne.valid">Verzenden</button>
        </div>
      </form>
    </div>
  </div>

</ion-content>
