.password {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: $yellow;

  .password-fixed{
    width: 100vw;
  }

  .title{
    color: $dark-blue;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .backbtn-wrapper{
    padding: 0.7em;
    padding-left: 0;
    padding-top: 0;

    #backbtn{
      width: 1.2em;
    }

    .a{
      stroke: #FFF !important;
    }

  }


  .logo{
    width: 4.5em;
    margin-top: 20%;
    position: relative;
    display: block;
    @extend .center-horizontally;

    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    -o-transition: margin 1s;
    transition: margin 1s;

    .a{
      stroke-width: 7px;
      stroke: $dark-blue;
    }
  }


  .password-reset{
    margin-top: 1.5em;
    padding: 2em;
    padding-top: 0;

    .info{
      text-align: center;
      color: $dark-blue;
      margin: 0;
      margin-bottom: 1em;
    }

    ion-item .button-clear-ios{
      background-color: transparent;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
      margin: 0;
    }

    .item-input.ng-invalid.ng-dirty {
      border: 2px solid $red-danger !important;
    }

    .errorMessage{
      background-color: transparent;
      color: $red-danger ;
      padding-left: 16px;
      font-size: 0.9em;
      border: none;
      min-height: initial;

      ion-label{
        margin-top: 2px;
        margin-bottom: 0;
      }

      p.errorMessage{
       padding-left: 0;
       font-family: 'MontserratBlack';
      }

      .item-inner{
        border: none;
      }
    }


    .item-input{
      background-color: rgba(256,256,256,0.9);
      margin-top: 0.3em;
      border: none;
      border-radius: 4px;

      .item-inner{
        border: none;

        input{
          color: $dark-blue;
          font-size: 0.8em;
        }
      }
    }

    button{
      @extend .link;
      margin-top: 2em;
      padding: 1.2em;
      background-color: $dark-blue;
      font-size: 0.8em;
      color: #FFF;
      width: 100%;
      border-radius: 4px;

    }

    ion-segment{
      border-radius: 0;
      margin-bottom: 1.5em;

      ion-segment-button{
        @extend .link;
        color: rgba(0,0,0,0.3);
        border: none;
        font-size: 0.8em;
        background-color: transparent;
        border-bottom: solid 1px rgba(0,0,0,0.3);
        border-radius: 0 !important;
        text-transform: uppercase;

      }

      ion-segment-button.segment-activated{
        color: $dark-blue;
        border-color: $dark-blue;
        background-color: transparent;
      }
    }
  }


}
