<div id="wrapperbox">
  <div class="first-wrapper wrapper" [ngClass]='modulesPage.wrapperIndex==1?"show-wrapper":""'>
    <h2>Hoe voel je je vandaag?</h2>

    <div class="graph-wrapper">
      <p>Hoge opwinding</p>
      <div class="graph" id="graph" (touchstart)='graphTouchStart($event)' (touchend)='graphTouchEnd($event)' (touchmove)='graphTouchMove($event)'>
        <div class="line-horizontal"></div>
        <div class="line-horizontal"></div>
        <div class="line-horizontal"></div>
        <div class="line-horizontal"></div>
        <div class="line-horizontal"></div>
        <div class="line-vertical"></div>
        <div class="line-vertical"></div>
        <div class="line-vertical"></div>
        <div class="line-vertical"></div>
        <div class="line-vertical"></div>
        <div id="indicator"></div>
      </div>
      <p>Slaperig</p>
    </div>
  </div>
  <div class="second-wrapper wrapper" [ngClass]='modulesPage.wrapperIndex==2?"show-wrapper":""'>
    <h2>In welke situatie voelde je deze gevoelens?</h2>
    <ion-textarea placeholder="Type hier..." type="text" name="moodText" [(ngModel)]='module.moodText'></ion-textarea>
  </div>
  <div class="third-wrapper wrapper" [ngClass]='modulesPage.wrapperIndex==3?"show-wrapper":""'>
    <h2>Voeg een stemmingsfoto toe (optioneel)</h2>
    <div class="img-wrapper" [ngClass]='module.image == ""?"show":""'>
      <img (touchend)='presentActionSheet()'  src="./assets/img/icon/camera.svg" alt="">
    </div>
    <div class="img-wrapper" [ngClass]='module.image != ""?"imgdel":""'>
        <img (touchend)='deleteImg(module)' src="{{moduleProv.pathForImage(module.image)}}"  alt="">
    </div>
  </div>
</div>
<div class="next-btn-wrapper" (touchend)=nextWrapper() *ngIf='modulesPage.wrapperIndex!=3' >
  <p class="next-btn"  >
    Volgende
  </p>
</div>
<div class="next-btn-wrapper" (touchend)=nextWrapper() *ngIf='modulesPage.wrapperIndex>=3'>
  <p class="next-btn"  >
    Opslaan
  </p>
</div>
